@font-face
    font-family 'Inconsolata'
    font-style normal
    src local('Inconsolata'), url(../fonts/inconsolata.woff2) format('woff2'), url(../fonts/inconsolata.woff) format('woff')

/** Fonts **/
body, button, input, select, textarea
    font-family Inconsolata, monospace
    font-size 18px

// Background
body
html
    background-color rgba(240,240,240,.5)
    color rgb(51,51,51)
    height auto
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
    display: table;
    height: 100%;
    min-height: 100%;
    background-image: url("../img/graydot-2.png")
    background-attachment: fixed
    background-position: left top
    background-repeat: repeat
    text-align: left

body
html
.site-wrapper
    width: 100%;
 
    
.site-wrapper
    box-shadow none

.site-footer 
    background-color: transparent
    border-top: 0 none
    bottom: 0
    padding: 0
    position: fixed
    width: 100%

.footer_me
    padding-left: 5%
    bottom 0
    width: 330px
    right: 5%
    position absolute

    .me
        width 100%

.masthead-nav > .active > a
    border none

.masthead-nav > li > a:hover
.masthead-nav > li > a:focus
    color #FFF
    border none

.masthead, .mastfoot
    position: relative

.cover-container
    width 90%
    
.cover
    padding: 0 5%

.nav > li
    display: inline-flex

.nav.nav-times
    margin-top: -2em
    font-size: 0.8em


article
    padding-bottom .5em
    margin-bottom .2em


.img-gallery
    background-color: rgb(255, 255, 255)
    border: 1px solid rgb(221, 221, 221)
    border-radius: 4px
    display: inline-block
    height: auto
    line-height: 1.42857
    max-width: 100%
    padding: 4px
    transition: all 0.2s ease-in-out 0s
    margin .5em 0
    
.lbl-info
    background-color: rgba(150, 150, 150, .8)
    border-color: rgb(80, 80, 80)
    margin-right 1em
    
.lbl-info:hover
    background-color: rgba(120, 120, 120, .8)

.link-video
    background-color: rgba(120, 120, 120, .65)
    border-radius: 4px
    border-color: rgb(80,80,80)
    display: inline-block
    position: relative
    text-align: center
    width: 100%
    color #FFF
    
.label
    font-weight: normal
    margin-right .4em
    
.timeline
    font-size 1.5em
    color #111

.nav-tabs.nav-justified > li > a
    border: none
    
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover 
    background-color: rgba(255, 255, 255, 0)

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover 
    border: none
    color #000
    
.nav-times > li > a
    color rgba(150,150,150,.5)

.nav-times > li > a:focus,
.nav-times > li > a:hover
    background-color rgba(0,0,0,0)
    color rgb(0,0,0)

.parentgallery
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    width: 100%;
    
.item
    display: inline-block;
    width: 100%;    

// 15.1 Mobile Large 620px 
@media screen and (min-width: 38.75em)
    .site-footer
        box-shadow: none
        margin: 0
    
    .footer_me
        width: 380px
        right 10% 
        
    .cover
        padding: 0 40px


@media screen and (min-width: 46.25em) 
    .nav.nav-tabs.nav-justified.text-center.nav-times
        margin-top: 0

// 15.3 Tablet Large 880px */
// @media screen and (min-width: 55em) 

// 15.4 Desktop Small 955px */
@media screen and (min-width: 59.6875em) 
    .footer_me
        bottom: 0
        position: absolute
        right: 10%
        width 430px
        
    .cover-container
        width 80%
        
    .cover
        padding: 0 7%
    

// 15.5 Desktop Medium 1100px */
// @media screen and (min-width: 68.75em) 

// 15.6 Desktop Large 1240px */
@media screen and (min-width: 77.5em) 
    .footer_me
        right: 20%
        padding: 0
        
    .masthead, .mastfoot
        position: relative
        width 100%

    .cover-container
        text-align left
        width: 60%

    .cover
        padding: 0 80px

// 15.7 Desktop X-Large 1403px */
@media screen and (min-width: 87.6875em) 
    .footer_me
        right: 35%
        padding: 0
        width: 460px