<!DOCTYPE html>
<html lang="nl" ng-app="portfolio">
<head>
	<meta charset="UTF-8">
	<title>Fabián Espinosa-Díaz</title>
	<link rel="stylesheet" href="dist/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/vendor/css/cover.css">
	<link rel="stylesheet" href="dist/base.css">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="dist/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="dist/vendor/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="dist/vendor/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			
			<header class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Fabián Espinosa-Díaz</h1>
					<nav>
						<ul class="nav masthead-nav">
							<li><a href="index.html">home</a></li>
							<li class="active"><a href="portfolio.html">works</a></li>
							<li><a href="about.html">who me?</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<section class="inner cover" ng-controller="ProjectsController as project">
				<h2>New Project</h2>
				<form name="newProject">
					<!-- Live Preview -->
					<article class="col-xs-12">
						<h3>{{project.name}} <a href="{{project.link}}" target="_blank">{{project.link}}</a></h3>
						<h4>{{project.date}}</h4>
						<p ng-repeat="paragraph in project.description">{{paragraph}}</p>
						<div class="gallery" ng-show="project.images.length > 0" ng-repeat="image in project.images">
							<figure>
								<img ng-src="{{image}}" alt="" class="img-gallery col-xs-12">
								<figcaption ng-hide="{{project.video === ''}}" class="link-video">Link van de video: <a href="{{project.video}}" target="_blank">{{project.video}}</a></figcaption>
							</figure>
						</div>
						<span class="label label-default lbl-info" ng-repeat="tag in project.tags">{{tag}}</span>
					</article>
					
					<div class="form-group">
						<label for="projectTitle">Project Titel</label>
						<input ng-model="project.title" type="text" id="projectTitle" class="form-control" placeholder="Project Title">
					</div>
					<div class="form-group">
						<label for="slug">Slug</label>
						<input ng-model="project.slug" type="text" id="slug" class="form-control" placeholder="slug">
					</div>
					<div class="form-group">
						<!-- <label for="link">Link</label>
						<input type="url" id="link" class="form-control" placeholder="http://"> -->
						<label for="links">Link</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">http://</span>
							<input ng-model="project.links" type="text" id="links" class="form-control" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="date">Maanden</label>
						<input ng-model="project.date" type="text" id="date" class="form-control">
					</div>
					<div class="form-group">
						<label for="description">Beschrijving</label>
						<textarea ng-model="project.description" id="description" rows="5" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label for="tags">Tags</label>
						<input ng-model="project.tags" type="text" id="tags" class="form-control">
					</div>
					<div class="form-group">
						<label for="img">Afbeeldingen</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2">http://</span>
							<input ng-model="project.img" type="url" id="img" class="form-control" aria-describedby="basic-addon2">
						</div>
						<!-- <label for="exampleInputFile">Afbeeldingen</label>
						<input ng-model="project." type="file" id="exampleInputFile">
						<p class="help-block">Afbeeldingen uploaden.</p> -->
					</div>
					<div class="form-group">
						<label for="video">Video</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2">http://</span>
							<input ng-model="project.video" type="url" id="video" class="form-control" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group">
						<!-- <select ng-model="project.isPrivate" class="form-control">
							<option value="openbaar">Openbaar</option>
							<option value="prive">Prive</option>
						</select> -->
						<label class="radio-inline">
							<input ng-model="project.isPrivate" type="radio" name="PublicPrivate" id="prive" value="Prive">
							Prive
						</label>
						<label class="radio-inline">
							<input ng-model="project.isPrivate" type="radio" name="PublicPrivate" id="openbaar" value="Openbaar" checked>
							Openbaar
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default ">Submit</button>
					</div>
				</form>

			</section>
			<div class="clearfix"></div>

			<footer class="mastfoot">
				<div class="inner">
					<p>Aangepaste bootstrap door mezelf</p>
				</div>
			</footer>

			<div class="site-footer">
				<div class="footer_me">
					<img class="me" src="img/f01-860.gif">
				</div>
			</div>
			
		</div>
	</div>
</div>
	<script src="dist/vendor/js/jquery-1.11.3.min.js"></script>
	<script src="dist/vendor/js/angular.min.js"></script>
	
	<script type="text/javascript" src="dist/all.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="dist/vendor/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/vendor/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>