<!DOCTYPE html>
<html lang="nl" ng-app="portfolio">
<head>
	<meta charset="UTF-8">
	<title>Fabián Espinosa-Díaz</title>
	<link rel="stylesheet" href="dist/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/vendor/css/cover.css">
	<link rel="stylesheet" href="dist/base.css">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="dist/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="dist/vendor/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="dist/vendor/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			
			<header class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Fabián Espinosa-Díaz</h1>
					<nav>
						<ul class="nav masthead-nav">
							<li><a href="index.html">home</a></li>
							<li class="active"><a href="portfolio.html">works</a></li>
							<li><a href="about.html">who me?</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<ul class="nav nav-tabs nav-justified text-center nav-times" role="tablist">
				<li role="presentation" class="active">
					<a href="#vijftien" aria-controls="vijftien" role="tab" data-toggle="tab" class="timeline">2015</a>
				</li>
				<li role="presentation">
					<a href="#viertien" aria-controls="viertien" role="tab" data-toggle="tab" class="timeline">2014</a>
				</li>
				<li role="presentation">
					<a href="#dertien" aria-controls="dertien" role="tab" data-toggle="tab" class="timeline">2013</a>
				</li>
				<li role="presentation">
					<a href="#past" aria-controls="past" role="tab" data-toggle="tab" class="timeline">the Past!</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade in active" role="tabpanel" id="vijftien">
					<section class="inner cover" ng-controller="PortfolioController as portfolio" >
						<!-- <h2>2015</h2> -->
						<h2>New Project</h2>
						<article class="col-xs-12" ng-repeat="work in portfolio.works" ng-hide="work.isPrivate">
							<h3>{{work.name}} (<a href="{{work.link}}" target="_blank">link</a>)</h3>
							<h4>{{work.date}}</h4>
							<p ng-repeat="paragraph in work.description">{{paragraph}}</p>
							<div class="gallery" ng-show="work.images.length > 0" ng-repeat="image in work.images">
								<figure>
									<img ng-src="{{image}}" alt="" class="img-gallery col-xs-12">
									<figcaption ng-hide="{{work.video === ''}}" class="link-video">Link van de video: <a href="{{work.video}}" target="_blank">{{work.video}}</a></figcaption>
								</figure>
							</div>
							<span class="label label-default lbl-info" ng-repeat="tag in work.tags">{{tag}}</span>
						</article>
						<form name="newProject">
							<!-- Live Preview -->
							<article class="col-xs-12">
								<h3>{{work.name}} <a href="{{work.link}}" target="_blank">{{work.link}}</a></h3>
								<h4>{{work.date}}</h4>
								<p ng-repeat="paragraph in work.description">{{paragraph}}</p>
								<div class="gallery" ng-show="work.images.length > 0" ng-repeat="image in work.images">
									<figure>
										<img ng-src="{{image}}" alt="" class="img-gallery col-xs-12">
										<figcaption ng-hide="{{work.video === ''}}" class="link-video">Link van de video: <a href="{{work.video}}" target="_blank">{{work.video}}</a></figcaption>
									</figure>
								</div>
								<span class="label label-default lbl-info" ng-repeat="tag in work.tags">{{tag}}</span>
							</article>
							
							<div class="form-group">
								<label for="projectTitle">Project Titel</label>
								<input ng-model="work.title" type="text" id="projectTitle" class="form-control" placeholder="Project Title">
							</div>
							<div class="form-group">
								<label for="slug">Slug</label>
								<input ng-model="work.slug" type="text" id="slug" class="form-control" placeholder="slug">
							</div>
							<div class="form-group">
								<!-- <label for="link">Link</label>
								<input type="url" id="link" class="form-control" placeholder="http://"> -->
								<label for="links">Link</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">http://</span>
									<input ng-model="work.links" type="text" id="links" class="form-control" aria-describedby="basic-addon1">
								</div>
							</div>
							<div class="form-group">
								<label for="date">Maanden</label>
								<input ng-model="work.date" type="text" id="date" class="form-control">
							</div>
							<div class="form-group">
								<label for="description">Beschrijving</label>
								<textarea ng-model="work.description" id="description" rows="5" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<label for="tags">Tags</label>
								<input ng-model="work.tags" type="text" id="tags" class="form-control">
							</div>
							<div class="form-group">
								<label for="img">Afbeeldingen</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2">http://</span>
									<input ng-model="work.img" type="url" id="img" class="form-control" aria-describedby="basic-addon2">
								</div>
								<!-- <label for="exampleInputFile">Afbeeldingen</label>
								<input ng-model="work." type="file" id="exampleInputFile">
								<p class="help-block">Afbeeldingen uploaden.</p> -->
							</div>
							<div class="form-group">
								<label for="video">Video</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2">http://</span>
									<input ng-model="work.video" type="url" id="video" class="form-control" aria-describedby="basic-addon2">
								</div>
							</div>
							<div class="form-group">
								<!-- <select ng-model="work.isPrivate" class="form-control">
									<option value="openbaar">Openbaar</option>
									<option value="prive">Prive</option>
								</select> -->
								<label class="radio-inline">
									<input ng-model="work.isPrivate" type="radio" name="PublicPrivate" id="prive" value="Prive">
									Prive
								</label>
								<label class="radio-inline">
									<input ng-model="work.isPrivate" type="radio" name="PublicPrivate" id="openbaar" value="Openbaar" checked>
									Openbaar
								</label>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-default ">Submit</button>
							</div>
						</form>
					</section>
				</div>
				
				<div class="tab-pane fade" role="tabpanel" id="viertien">
					<section class="inner cover" ng-controller="PortfolioController as portfolio">
						<iframe src="http://f-spin.net/" frameborder="0" class="iframe-test"></iframe>
					</section>
				</div>
				
				<div class="tab-pane fade" role="tabpanel" id="dertien">
					<section class="inner cover" ng-controller="PortfolioController as portfolio">
						<!-- <h2>2013</h2> -->
					</section>
				</div>
				
				<div class="tab-pane fade" role="tabpanel" id="past">
					<section class="inner cover" ng-controller="PortfolioController as portfolio">
						<!-- <h2>The Past!</h2> -->
					</section>
				</div>
			</div>

			<div class="clearfix"></div>

			<footer class="mastfoot">
				<div class="inner">
					<p>Aangepaste bootstrap door mezelf</p>
				</div>
			</footer>

			<div class="site-footer">
				<div class="footer_me">
					<img class="me" src="img/f01-860.gif">
				</div>
			</div>
			
		</div>
	</div>
</div>
	<script src="dist/vendor/js/jquery-1.11.3.min.js"></script>
	<script src="dist/vendor/js/angular.min.js"></script>
	
	<script type="text/javascript" src="dist/all.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="dist/vendor/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/vendor/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>