<!DOCTYPE html>
<html lang="nl" ng-app="portfolio">
<head>
	<meta charset="UTF-8">
	<title>Fabián Espinosa-Díaz</title>
	<link rel="stylesheet" href="dist/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/vendor/css/cover.css">
	<link rel="stylesheet" href="dist/base.css">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="dist/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="dist/vendor/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="dist/vendor/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			
			<header class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Fabián Espinosa-Díaz</h1>
					<nav>
						<ul class="nav masthead-nav">
							<li><a href="index.html">home</a></li>
							<li class="active"><a href="portfolio.html">works</a></li>
							<li><a href="about.html">who me?</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<ul class="nav nav-tabs nav-justified text-center" role="tablist">
			    <li role="presentation" class="active"><a href="#vijftien" aria-controls="vijftien" role="tab" data-toggle="tab">2015</a></li>
			    <li role="presentation"><a href="#viertien" aria-controls="viertien" role="tab" data-toggle="tab">2014</a></li>
			    <li role="presentation"><a href="#dertien" aria-controls="dertien" role="tab" data-toggle="tab">2013</a></li>
			    <li role="presentation"><a href="#thepast" aria-controls="thepast" role="tab" data-toggle="tab">the Past!</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="vijftien">
					<section class="inner cover">
						<!-- <h2>2015</h2> -->
						<article class="col-xs-12" ng-repeat="work in portfolio.works" ng-hide="work.isPrivate">
							<works></works>
						</article>
					</section>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="viertien">
					b
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="dertien">
					c
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="thepast">
					d
			    </div>
			  </div>

			</div>

			
			<div class="clearfix"></div>

			<footer class="mastfoot">
				<div class="inner">
					<p>Aangepaste bootstrap door mezelf</p>
				</div>
			</footer>

			<div class="site-footer">
				<div class="footer_me">
					<img class="me" src="img/f01-860.gif">
				</div>
			</div>
			
		</div>
	</div>
</div>
	<script src="dist/vendor/js/jquery-1.11.3.min.js"></script>
	<script src="dist/vendor/js/angular.min.js"></script>
	
	<script type="text/javascript" src="dist/all.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="dist/vendor/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/vendor/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>