<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
	<meta charset="UTF-8">
	<title>Fabián Espinosa-Díaz</title>
	<link rel="stylesheet" href="dist/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/vendor/css/cover.css">
	<link rel="stylesheet" href="dist/base.css">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="dist/vendor/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="dist/vendor/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="dist/vendor/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			
			<header class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Fabián Espinosa-Díaz</h1>
					<nav>
						<ul class="nav masthead-nav">
							<li><a href="index.html">home</a></li>
							<li class="active"><a href="portfolio.html">works</a></li>
							<li><a href="about.html">who me?</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<section class="inner cover" ng-controller="PortfolioController as portfolio">
				<h2>2016</h2>
				<article class="col-xs-12" ng-hide="portfolio.work.isPrivate" ng-repeat="work in portfolio.works | limitTo:4">
					<h3>{{work.name}}</h3>
					<h4>{{work.date}}</h4>
					<p>{{work.description}}</p>
					<div ng-show="work.images.length > 0" ng-repeat="image in work.images">
						<img ng-src="{{image.full}}" alt="" class="test col-xs-12">
					</div>
					<button ng-show="work.canSee">Show/Hide</button>
					<section ng-controller="PanelController as panel">
						<ul class="nav nav-pills">
							<li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Descr</a></li>
							<li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">sepcif</a></li>
							<li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">revi</a></li>
						</ul>
						<div class="panel" ng-show="panel.isSelected(1)">
							<h5>Description</h5>
							<p>{{work.description}}</p>
						</div>
						<div class="panel" ng-show="panel.isSelected(2)">
							<h5>sepcif</h5>
							<blockquote>none yet</blockquote>
						</div>
						<div class="panel" ng-show="panel.isSelected(3)">
							<h5>revi</h5>
							<blockquote>also none</blockquote>
						</div>
					</section>
				</article>
				
				<h2>2015</h2>

				<!-- <article class="col-xs-12">
					<h3>Kleiformance (<a href="http://laferalfang.be">link</a>)</h3>
					<h4>Nov - Jun 2016</h4>
					<p>Sinds november ben ik aan het werken samen met Ester in haar eindproject keramiek. Het idee is van haar, en ik help door te discussiëren verder over de mogelijkheden en de conceptualisatie.</p>
					<p>Zoals in het video gezien kan worden, is dit een work in progress.</p>
					<p><span class="btn btn-info btn-sm">Video Montage</span>, <span class="btn btn-info btn-sm">Sparring</span></p>
					<div class="test col-xs-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/_aH_LaakaSg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</article> -->

				<!-- <article class="col-xs-12">
					<h3>Het Nadeel van de Twijfel</h3>
					<h4>Dec</h4>
					<p>Ik heb de ontwerp van het affiche van het toneelstuk 'Het Nadeel van de Twijfel, van de gentse theatergroep Multatuli. Ik probeerde het idee van de titel impliceren in het ontwerp zonder de duidelijkheid te verlizen. De kleurkeuze en de lettertype was een keuze van de groep.</p>
					<img src="img-gallery/hnvd-affiche.jpg" alt="" class="test col-xs-12">
					<img src="img-gallery/hnvd-flyer.jpg" alt="" class="test col-xs-12">
				</article> -->

				<!-- <article class="col-xs-12">
					<h3>I Love Mariaberg (<a href="https://www.facebook.com/ilovemariaberg">link</a>)</h3>
					<h4>Jun - Aug</h4>
					<p>In augustus was ik vollenbak aan het monteren de film I Love Mariaberg</p>
					<p><span class="btn btn-info btn-sm">Video Montage</span>, <span class="btn btn-info btn-sm">Animatie</span>, <span class="btn btn-info btn-sm">Sparring</span></p>
					<div class="test col-xs-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/vl2AJrXi_CM" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</article>
				 -->
				<!-- <article class="col-xs-12">
					<h3>Victoria (<a href="https://www.facebook.com/Victoria-202062376791747/">link</a>)</h3>
					<h4>Jul</h4>
					<p>In juli heb ik de begin generiek (en de final credits) gemaakt van Victoria (een korte film van Luis Pizarro).</p>
					<p><span class="btn btn-info btn-sm">Video Montage</span>, <span class="btn btn-info btn-sm">Animatie</span></p>
					<div class="test col-xs-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/ye6rlq0aq_o" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</article> -->

				<!-- <article class="col-xs-12">
					<h3>Welzijn Cadans (<a href="http://welzijncadans.be">link</a>)</h3>
					<h4>Jan - Maa</h4>
					<p>In maart heb ik de website van Welzijn Cadans online gezet. Tussen december 2014 en januari 2015 heben we (ik en Ethel) besproken over de mogelijkheden dat wordpress aanbiedt. Ik ben begonnen met een wireframe te voorstellen, gebasseerd op een sketch dat ze had meegebracht. De tweede stap was een mockup. En nadat we akkoord waren ivm met de kleurenpalette en de lay-out, begon ik met de ontwikkeling van een child-theme (op basis van de responsive twenty-fifteen theme). De logo was niet ontworpen door mij.</p>
					<p>Op basis van dit huisstijl heb ik ook de ontwerp van de nieuwsbrief gemaakt.</p>
					<p><span class="btn btn-info btn-sm">Wordpress</span>, <span class="btn btn-info btn-sm">HTML5</span>, <span class="btn btn-info btn-sm">CSS3</span>, <span class="btn btn-info btn-sm">Javascript</span>, <span class="btn btn-info btn-sm">PHP</span>, <span class="btn btn-info btn-sm">Photoshop</span>, <span class="btn btn-info btn-sm">Illustrator</span></p>
					<img src="img-gallery/cadans-screenshot.jpg" alt="" class="test col-xs-12">
					<img src="img-gallery/cadans-mailing.jpg" alt="" class="test col-xs-12"> 
				</article> -->
				<!-- <aside>
					<h2>cronologic</h2>
				</aside>
				<aside>
					<h2 class="test">...</h2>
				</aside> -->

			</section>
			<div class="clearfix"></div>

			<footer class="mastfoot">
				<div class="inner">
					<p>Aangepaste bootstrap door mezelf</p>
				</div>
			</footer>

			<div class="site-footer">
				<div class="footer_me">
					<img class="me" src="img/f01-860.gif">
				</div>
			</div>
			
		</div>
	</div>
</div>
	<script src="dist/vendor/js/jquery-1.11.3.min.js"></script>
	<script src="dist/vendor/js/angular.min.js"></script>
	
	<script type="text/javascript" src="dist/all.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="dist/vendor/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/vendor/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>