<div class="tab-content">
	<div class="tab-pane fade in active" role="tabpanel" id="vijftien">
		<section class="inner cover" ng-controller="Portfolio2015Controller as portfolio" >
			<!-- <h2>2015</h2> -->
			<article class="col-xs-12" ng-repeat="work in portfolio.works2015" ng-hide="work.isPrivate">
				<works></works>
			</article>
		</section>
	</div>
	
	<div class="tab-pane fade" role="tabpanel" id="viertien">
		<section class="inner cover" ng-controller="Portfolio2014Controller as portfolio">
			<article class="col-xs-12" ng-repeat="work in portfolio.works2014" ng-hide="work.isPrivate">
				<works></works>
			</article>
		</section>
	</div>
	
	<div class="tab-pane fade" role="tabpanel" id="dertien">
		<section class="inner cover" ng-controller="Portfolio2013Controller as portfolio">
			<article class="col-xs-12" ng-repeat="work in portfolio.works2013" ng-hide="work.isPrivate">
				<works></works>
			</article>
		</section>
	</div>
	
	<div class="tab-pane fade" role="tabpanel" id="past">
		<section class="inner cover" ng-controller="PortfolioPastController as portfolio">
			<article class="col-xs-12" ng-repeat="work in portfolio.worksPast" ng-hide="work.isPrivate">
				<works></works>
			</article>
		</section>
	</div>
</div>