<h3>{{work.name}} 
	<a href="{{work.link}}" target="_blank">
	<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
	<span class="sr-only">Link: {{work.link}}</span>
	</a>
</h3>
<h4>{{work.date}}</h4>

<p ng-repeat="paragraph in work.description">{{paragraph}}</p>

<div ng-class="{parentgallery: work.images.length > 1}">
	<div class="gallery" ng-show="work.images.length > 0" ng-repeat="image in work.images">
		<figure class="item">
			<img ng-src="{{image}}" alt="" class="img-gallery col-xs-12" >
			<figcaption ng-hide="{{work.video === ''}}" class="link-video">
				<a href="{{work.video}}" target="_blank" title="link video">{{work.video}}</a>
			</figcaption>
		</figure>
	</div>
</div>

<span class="label label-default lbl-info" ng-repeat="tag in work.tags">{{tag}}</span>